NODE_ENV=development
PORT=4000
SUPABASE_URL=https://ortvtvxqyirxqldumtgg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ydHZ0dnhxeWlyeHFsZHVtdGdnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4NjU4MTksImV4cCI6MjA4ODQ0MTgxOX0.2Kan2JiPQuJBZB0N6CxTj9DYuxw49ySz4AqG80XHAmw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ydHZ0dnhxeWlyeHFsZHVtdGdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjg2NTgxOSwiZXhwIjoyMDg4NDQxODE5fQ.55EyzzI4FAjY4OcVfIooATaMa-yYzMxA91vhEFuT2rQ

FRONTEND_URL=http://localhost:3000
